/* Universal Box Sizing Reset */
html {
  box-sizing: border-box; 
}
*, *::before, *::after { 
  box-sizing: inherit; 
}

/* Overflow Example */
.overflow-box {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px solid orange;
  background-color: rgba(0, 0, 100, 0.2);
  margin-bottom: 1em; /* Space below */
  /* overflow: hidden; */
  overflow: scroll; /* Always show scrollbars */
}